In [5]:
# We want to do a New Advanced Processing method, which is more efficient; new Binary coding.

# Please note: Our original data file is larger than 25MB. It has about 100k samples.
# So we have uploaded a smaler file here, because of GitHub Limit. This smaller file has 5k samples.

import csv
import pandas as pd
import re
from numpy import array, add, zeros
from nltk.stem import PorterStemmer 
from collections import Counter
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split

In [12]:
%%time
data_clean=pd.read_csv('tweet_information.csv') # reading the saved tweet_information file
data_clean['tag_word']=data_clean['tag'] # making a new column, for tags
data_clean=data_clean[['text', 'tag_word']]
most_words=pd.read_csv('most_words_list_result.csv') # reading the saved most_words_list_result file
ms=tuple(most_words['Word'])

def cleaner(text): # we have a str; but this str can be a list; so we convert it to list
    text=text.replace('[', '').replace(']', '').replace("'", '')
    text=text.split(', ')
    cleaned=[t for t in text   if t in ms]
    return(cleaned)

data_clean['text']=data_clean['text'].apply(lambda text: cleaner(text))

data_clean.head()

CPU times: user 763 ms, sys: 9.77 ms, total: 773 ms
Wall time: 783 ms

                                                text      tag_word
0  [is, a, fun, and, inclus, class, for, all, lev...  bodybuilding
1  [you, can, t, go, to, and, come, back, with, y...        travel
2  [check, out, thi, messag, from, about, our, ex...       culture
3  [street, student, hous, project, construct, ha...  architecture
4  [daili, tweet, for, mamamoo, brand, reput, mam...         solar

In [13]:
%%time

"""
We want to use 0 or 1, for each word in the tweet (text). For each word in tweet, 
if the word is in the 'ms' tuple, we choose 1 for that word, in that tweet. If not, we choose 0.
"""

def binary(text, m):
    if m in text: return 1
    else: return 0

for m in ms:
    data_clean[m]=data_clean['text'].apply(lambda text: binary(text, m))
    
data_clean['target_tag']=data_clean['tag_word'] # We just like to keep the tag_word as the End Column!
del data_clean['tag_word']

data_clean.head()

CPU times: user 12.2 s, sys: 1.04 s, total: 13.3 s
Wall time: 11.1 s

,text,the,you,to,and,a,of,i,is,in,...,speci,walk,turtl,hunter,close,desert,monkey,rescu,honeybe,target_tag
0,"[is, a, fun, and, inclus, class, for, all, lev...",0,0,0,1,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,bodybuilding
1,"[you, can, t, go, to, and, come, back, with, y...",0,1,1,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,travel
2,"[check, out, thi, messag, from, about, our, ex...",0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,culture
3,"[street, student, hous, project, construct, ha...",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,architecture
4,"[daili, tweet, for, mamamoo, brand, reput, mam...",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,solar

In [14]:
data_clean=data_clean.reset_index(drop=True)
data_clean.to_csv('data_clean.csv',index=False)